@page
@model LunaArcSync.Api.Pages.Public.IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LunaArcSync</h1>
    <p>This is a public page for LunaArcSync users.</p>
    <p>More content will be added here soon.</p>
</div>
